<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="text/html" http-equiv="Content-Type"></meta>
<link th:href="@{/webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css}" rel="stylesheet" th:fragment="css-bootstrap"></link>
<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.min.js}" type="text/javascript" th:fragment="jquery"></script>
<script th:src="@{/js/demo.js}" type="text/javascript" th:fragment="demo"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js}" type="text/javascript" th:fragment="js-bootstrap"></script>
<script th:src="@{/webjars/jquery-i18n-properties/1.2.2/jquery.i18n.properties.min.js}" type="text/javascript" th:fragment="i18n-jquery"></script>
</head>
<body>
	<footer th:fragment="footer">
		<p th:text="#{footer.mensagem}"></p>
	</footer>
</body>
</html>